[Unit]
Description=Adventure Time TCG API
After=network-online.target

[Container]
ContainerName=adventure-time-tcg-api
Image=ghcr.io/zax-code/adventure-time-tcg-api:latest
PublishPort=127.0.0.1:4100:4100
EnvironmentFile=/home/zax/adventure-time-tcg-secrets/api.env

[Service]
Restart=always

[Install]
WantedBy=default.target
