[Unit]
Description=Adventure Time TCG MinIO
After=network-online.target adventure-time-tcg-pod.service
Wants=adventure-time-tcg-pod.service
Requires=adventure-time-tcg-pod.service

[Container]
ContainerName=adventure-time-tcg-minio
Image=quay.io/minio/minio:RELEASE.2025-02-28T09-55-16Z
Pod=adventure-time-tcg.pod
Volume=/srv/adventure-time-tcg/minio:/data:Z
EnvironmentFile=/home/zax/adventure-time-tcg-secrets/minio.container.env
Exec=minio server /data --console-address :9001

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
