[Unit]
Description=Adventure Time Native API
After=network-online.target

[Container]
ContainerName=adventure-time-native-api
Image=ghcr.io/zax-code/adventure-time-native-api:latest
PublishPort=127.0.0.1:4100:4100
EnvironmentFile=/home/zax/adventure-time-native-secrets/api.env

[Service]
Restart=always

[Install]
WantedBy=default.target
